# Ignore cached files
__pycache__ 
**/__pycache__

# Ignore virtual environment since no need to install any other packages
venv

# Ignore kafka-logs
kafka_lib/*/logs

# Ignore Jetbrains Files
.idea

